set shiftwidth=2
set tabstop=2
set ignorecase
set incsearch
set hlsearch
set number
set relativenumber
set clipboard=unnamed

noremap Y y$

noremap ,f :action ToggleFullScreen<cr>
noremap ,d :action ToggleDistractionFreeMode<cr>
noremap ,m :action ActivateMavenProjectsToolWindow<cr>
noremap ,g :action ActivateGradleToolWindow<cr>
